<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fitnesstracking.fitnessapp">

    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_barbell"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_barbell"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.fitnesstracking.fitnessapp.View.ExerciseLogActivity"
            android:label="@string/title_activity_exercise_log"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name="com.fitnesstracking.fitnessapp.View.PlanExercisesActivity" />
        <activity android:name="com.fitnesstracking.fitnessapp.View.ProfileActivity" />
        <activity android:name="com.fitnesstracking.fitnessapp.View.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.fitnesstracking.fitnessapp.View.WorkoutList_Fragment" />
        <activity android:name="com.fitnesstracking.fitnessapp.View.SetsRepsActivity" />
        <activity android:name="com.fitnesstracking.fitnessapp.View.NewWorkoutActivity" />
    </application>

</manifest>